{% comment -%}Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.{% endcomment -%}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {%- if title and _appTitle -%}
	<title>{{title}} | {{appTitle}}</title>
	<meta name="title" content="{{title}} | {{appTitle}}">
	<meta name="og:title" content="{{title}} | {{appTitle}}">
  {%- else -%}
    {%- if title or _appTitle -%}
		<title>{{title}}{{appTitle}}</title>
		<meta name="title" content="{{title}}{{appTitle}}">
		<meta name="og:title" content="{{title}}{{appTitle}}">
    {%- endif -%}
  {%- endif -%}
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="generator" content="docfx {{_docfxVersion}}">
  {%- if _description -%}
  <meta name="description" content="{{_description}}">
  {%- endif -%}
  {%- if _appFaviconPath -%}
  <link rel="shortcut icon" href="{{_rel}}{{_appFaviconPath}}">
  {%- else -%}
  <link rel="shortcut icon" href="{{_rel}}favicon.ico">
  {%- endif -%}
<meta name="og:type" content="website">
<meta name="og:image" content="https://cdn.aitsys.dev/file/data/kmjpa6f64me66dsm7dz3/PHID-FILE-degpfzd7nbw2q5yko5j7/logobig.png">
<meta name="og:image:alt" content="DisCatSharp Logo">
<meta name="og:image:type" content="image/png">
<meta name="og:site_name" content="DisCatSharp Documentation">
<link rel="apple-touch-icon" sizes="57x57" href="{{_rel}}apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{_rel}}apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{_rel}}apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{_rel}}apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{_rel}}apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{_rel}}apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{_rel}}apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{_rel}}apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{_rel}}apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{_rel}}android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{_rel}}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{_rel}}favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{_rel}}favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{_rel}}ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
  {%- if _noindex -%}
  <meta name="searchOption" content="noindex">
  {%- endif -%}
  <meta property="docfx:navrel" content="{{_navRel}}">
  <meta property="docfx:tocrel" content="{{_tocRel}}">
  {%- if _enableSearch -%}
  <meta property="docfx:rel" content="{{_rel}}">
  {%- endif -%}
  {%- if _enableNewTab -%}
  <meta property="docfx:newtab" content="true">
  {%- endif -%}
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "de6c22ce0b3e4c17bb78c8c31b4e695b"}'></script>
</head>
